/*IO_LOC  "tmds_d0_n" 70;    IO_PORT "tmds_d0_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d0_p" 71;    IO_PORT "tmds_d0_p" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d1_n" 72;    IO_PORT "tmds_d1_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d1_p" 73;    IO_PORT "tmds_d1_p" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d2_n" 74;    IO_PORT "tmds_d2_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_d2_p" 75;    IO_PORT "tmds_d2_p" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_clk_n" 68;    IO_PORT "tmds_clk_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "tmds_clk_p" 69;    IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC  "rst_n"     3;     IO_PORT "rst_n"     IO_TYPE=LVCMOS18 PULL_MODE=UP;   //button

IO_LOC  "clk_pixel"        52;    IO_PORT "clk_pixel"        IO_TYPE=LVCMOS33 PULL_MODE=UP;
*/


// ============================================================================
// HDMI TMDS OUTPUTS (Assegnare SOLO i pin positivi, Gowin fa il resto!)
// ============================================================================

// ============================================================================
// HDMI TMDS OUTPUTS (Tang Nano 9K usa ELVDS / LVCMOS33D)
// ============================================================================

IO_LOC  "tmds_d0_p" 71, 70;
IO_PORT "tmds_d0_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d1_p" 73, 72;
IO_PORT "tmds_d1_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_d2_p" 75, 74;
IO_PORT "tmds_d2_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;

IO_LOC  "tmds_clk_p" 69, 68;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8;


// ============================================================================
// RESET BUTTON
// ============================================================================
IO_LOC  "rst_n" 3;
IO_PORT "rst_n" IO_TYPE=LVCMOS18 PULL_MODE=UP;

// ============================================================================
// INPUT CLOCK 27 MHz
// ============================================================================
IO_LOC  "clk_27MHz" 52;
IO_PORT "clk_27MHz" IO_TYPE=LVCMOS33 PULL_MODE=UP;

